@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: clamp(12px, 1vw, 16px);
}

/**
   FONT FAMILY GROUPS
*/
/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

/* Inter var */
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/intervar/Inter.var.woff2?v=3.19") format("woff2");
}

/* Termina */
@font-face {
  font-family: "Termina";
  src: url("../fonts/termina/Termina-Demi.woff2") format("woff2"), url("../fonts/termina/Termina-Demi.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Termina";
  src: url("../fonts/termina/Termina-Bold.woff2") format("woff2"), url("../fonts/termina/Termina-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

html {
  @apply font-interNormal overflow-x-hidden;
  font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

html,
body {
  @apply overflow-x-hidden relative;
}

/* Animations */
.word {
  white-space: pre;
}
.char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.char > span {
  display: block;
  transform: translate3d(0, 100%, 0);
}

.marquee span {
  animation: marquee 2s linear infinite;
}
.marquee2 span {
  animation: marquee2 2s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes marquee2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.leaderboard-table {
  counter-reset: listCounter;
}

.dashboard-avatar {
  counter-increment: listCounter;
}

.leaderboard::-webkit-scrollbar {
  display: none;
}
.leaderboard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.js-dashboard {
  --sidepane: 100%;
}
.js-dashboard::after {
  transform: translateY(var(--sidepane));
}

.dashboard-avatar > div:last-child::before {
  content: counter(listCounter);
}

.dashboard-avatar:first-child > div {
  border-radius: 50% 50% 0 0;
}
.dashboard-avatar:last-child > div {
  border-radius: 0 0 50% 50%;
}

/* Chess style */
/*TODO: Tailwind apply style */
.playercapturepawns > div {
  background-size: 90%;
  background-position: center 42%;
  @apply w-full aspect-square;
}

.player-info {
  --banner-y: 0;
  --banner-x: -100%;
}
.player-info::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(50vw + 4rem);
  height: calc(50% + 3vw);
  background-color: white;
  right: 0;
  top: calc(var(--banner-y) - 3vw);
  z-index: -1;
  padding: 2rem;
  border-radius: 0 50vw 50vw 0;
  transform: translate3d(var(--banner-x), 0, 0);
}

[data-component-id="me"] .playercapturepawns > div {
  @apply rotate-180 scale-x-[-1];
}

.chess-board > div {
  @apply flex justify-center items-center !w-full;
}

.chess-board > div > div > div > div:not(:last-child) {
  position: relative;
  width: calc(100% / 8 - 1%) !important;
  height: 100% !important;
  aspect-ratio: 1/1;
  margin: 0.6% 0.5%;
  border-radius: 1.5vw;
  transition: box-shadow 0.1s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 3px 6px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.chess-board [data-square] {
  --disp-opacity: 0;
}
.chess-board > div > div > div > div:not(:last-child)::after {
  content: "";
  position: absolute;
  display: block;
  top: 48%;
  left: 50%;
  width: 85%;
  height: 75%;
  border: 2px solid white;
  border-radius: 1.2vw;
  transform: translate3d(-50%, -50%, 0);
  z-index: 0;
  opacity: var(--disp-opacity);
  box-shadow: rgba(255, 255, 255, 1) 0px -6px 8px inset, rgba(255, 255, 255, 1) 0px -6px 8px;
}

.chess-board > div > div > div > div:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 3px 6px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.chess-board > div {
  transform: scaleY(0.92);
}

.chess-board > div > div {
  border: none;
  background: white;
  border-radius: 3rem;
  padding: 2.4rem 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px, rgba(0, 0, 0, 0.1) 0px 7px 30px -13px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

.chess-board img {
  position: absolute;
  height: calc(100% + 40px) !important;
  transform: translateY(-40px);
  pointer-events: none;
  z-index: 1;
}

.numeric-fc462 {
  @apply absolute !top-1/2 !-left-5 -translate-y-1/2 text-grey-600;
}
.alpha-d2270 {
  @apply absolute !-bottom-6 !right-1/2 translate-x-1/2 text-grey-600;
}

.black-3c85d {
  @apply !bg-grey-200;
}
.white-1e1d7 {
  @apply !bg-grey-100;
}
