@tailwind base;
@tailwind components;
@tailwind utilities;

/*
   FONT FAMILY GROUPS
*/

/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"), url("../fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

/* Inter var */
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/intervar/Inter.var.woff2?v=3.19") format("woff2");
}

/* Termina */
@font-face {
  font-family: "Termina";
  src: url("../fonts/termina/Termina-Demi.woff2") format("woff2"), url("../fonts/termina/Termina-Demi.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Termina";
  src: url("../fonts/termina/Termina-Bold.woff2") format("woff2"), url("../fonts/termina/Termina-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

html {
  @apply font-interNormal overflow-x-hidden;
  font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "zero" on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

/* @media screen(lg) {
  html {
    font-size: clamp(12px, 0.5vw + 55%, 16px);
  }
} */

html,
body {
  @apply overflow-x-hidden relative;
}

/* Animations */
.word {
  white-space: pre;
}
.char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.char > span {
  display: block;
  transform: translate3d(0, 100%, 0);
}

.playercapturepawns > div {
  @apply w-full aspect-square bg-grey-400 rounded-circle;
}

.chess-board > div {
  @apply flex justify-center items-center;
}
