<section data-component="gameboard" class="chess-board absolute w-[40vw] h-[40vw] grid grid-cols-8 grid-rows-8 rounded right-0 overflow-hidden">
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>

  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>

  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>

  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>

  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
  <div class="bg-grey-600"></div>
  <div class="bg-grey-50"></div>
</section>
