<section id="js-gamefen" class="hidden col-span-3 col-start-10 z-2">
  <ul>
    <li class="flex font-bold text-100 bg-grey-50 pr-6 mb-1 rounded-full w-full justify-between">
      <div class="px-6 pr-4 py-3 mr-2 relative after:absolute after:h-1/2 after:top-1/4 after:right-0 after:w-0.5 after:bg-grey-200">1</div>
      <div class="flex items-center">
        <div class="rounded-circle bg-grey-50 border border-grey-600 w-3 h-3 mr-2"></div>
        <div>Nd1xc3+</div>
      </div>
      <div class="flex items-center">
        <div class="rounded-circle bg-grey-600 w-3 h-3 mr-2"></div>
        <div>Nd1xc3+</div>
      </div>
    </li>
    <li class="flex font-bold text-100 bg-grey-50 pr-6 mb-1 rounded-full w-full justify-between">
      <div class="px-6 pr-4 py-3 mr-2 relative after:absolute after:h-1/2 after:top-1/4 after:right-0 after:w-0.5 after:bg-grey-200">1</div>
      <div class="flex items-center">
        <div class="rounded-circle bg-grey-50 border border-grey-600 w-3 h-3 mr-2"></div>
        <div>Nd1xc3+</div>
      </div>
      <div class="flex items-center">
        <div class="rounded-circle bg-grey-600 w-3 h-3 mr-2"></div>
        <div>Nd1xc3+</div>
      </div>
    </li>
  </ul>
</section>
