
<!-- Icons -->
<!-- SAFARI -->
<link rel="mask-icon" href="{{ "/img/favicons/safari-pinned-tab.svg" | absURL }}" color="{{ $.Site.Params.themeColor }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ $.Site.Params.themeColor }}">

<!-- FAVICON -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicons/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicons/favicon-16x16.png" | absURL }}">

<!-- MS -->
<meta name="application-name" content="{{ $.Site.Title }}"/>
<meta name="msapplication-TileColor" content="{{ $.Site.Params.themeColor }}">

<!-- THEME -->
<meta name="theme-color" content="{{ $.Site.Params.themeColor }}">


<!--MANIFEST PWA-->
<link rel="manifest" href="/site.webmanifest">




