{{ define "meta" }} {{ partial "head/jsonld" (dict "context" . "content" "head/schema/schema-corporation.html") }} {{ partial "head/jsonld" (dict "context" . "content"
"head/schema/schema-website.html") }} {{ end }} {{ define "main" }} {{ $data := index .Site.Data .Site.Language.Lang }}

<div class="max-w-screen-xxl mx-auto xl:px-16 md:px-8 px-8 min-h-[calc(100vh_-_theme(space.24))] grid grid-cols-12 gap-4 pt-[15vmax]">
  <div class="relative grid grid-cols-5 gap-4 col-span-5">
    <h1 class="js-title font-termina opacity-0 col-span-4 font-bold text-800 leading-[.9] whitespace-break-spaces">{{.Title}}</h1>
    <div class="content | js-content col-span-4 pb-24 opacity-0">
      <p>{{.Content}}</p>
    </div>
  </div>
</div>
{{ block "footer" . }}{{ partial "footer/footer.html" .}}{{ end }} {{end}}
