{{ define "meta" }} {{ partial "head/jsonld" (dict "context" . "content" "head/schema/schema-corporation.html") }} {{ partial "head/jsonld" (dict "context" . "content"
"head/schema/schema-website.html") }} {{ end }} {{ define "main" }} {{ $data := index .Site.Data .Site.Language.Lang }} {{ partial "game/category.html" . }}
<div class="relative container min-h-[calc(100vh_-_theme(space.28))] grid grid-cols-12 gap-16 pt-52">
  {{ partial "game/options.html" . }} {{ partial "game/players.html" . }}
  <!-- <div class="bg-grey-50 col-span-6 row-span-2 z-100 aspect-square hidden"></div> -->
  {{ partial "game/board.html" . }} {{ partial "game/fen.html" . }} {{ partial "game/controls.html" . }}
</div>

{{end}}
