<section data-component="webgl">
  <section class="fixed w-screen h-screen top-0 left-0 bg-slate-400">
    <div
      id="js-background"
      class="absolute opacity-0 h-[calc(100vh-2vw)] w-[calc(100vw-2vw)] top-[1vw] left-[1vw] rounded-xl translate-x-full scale-x-110 origin-left overflow-hidden"
    >
      <div
        class="absolute w-full h-full bg-grey-200 md:opacity-100 opacity-0"
      ></div>
    </div>
    <div class="absolute z-max opacity-50 md:opacity-100">
      <canvas id="webgl-bg" class="absolute z-max opacity-0"></canvas>
    </div>
  </section>
</section>
