version: "3.7"

services:
  deployer:
    build: ./deployer
    networks:
      - gnonode
    volumes:
      - "../../realm:/realm"
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "100m"
  gnoweb:
    image: ghcr.io/gnolang/gno/gnochess:latest
    command: [ "gnoweb", "-remote", "gnoland:26657", "-bind", "0.0.0.0:8888" ]
    working_dir: /opt/gno/src/gno.land
    networks:
      - gnonode
    ports:
      - 8888:8888
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "100m"
  gnoland:
    image: ghcr.io/gnolang/gno/gnochess:latest
    environment:
      - LOG_LEVEL=4
    command: [ "gnoland", "start", "-genesis-max-vm-cycles", "100000000" ]
    volumes:
      - "gnonode:/opt/gno/src/testdir"
      - "./config.toml:/opt/gno/src/gno.land/testdir/config/config.toml"
    working_dir: /opt/gno/src/gno.land
    networks:
      - gnonode
    ports:
      - 26657:26657
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "100m"

networks:
  gnonode: {}
volumes:
  gnonode: {}

